Sistema de Lenguajes de Marcas/XML/prueba.dtd

<!ELEMENT persona (nombre, nacimiento, direccion, (varon|mujer))>
<!ELEMENT nombre (#PCDATA)>
<!DATALIST [nacimiento
dia CDATA #REQUIRED 
mes CDATA #REQUIRED
anyo CDATA #REQUIRED
]>
<!ELEMENT direccion (calle, poblacion, provincia, cpostal)>
<!ELEMENT calle (#PCDATA)>
<!ELEMENT poblacion (#PCDATA)>
<!ELEMENT provincia (#PCDATA)>
<!ELEMENT cpostal (#PCDATA)>
<!ELEMENT varon EMPTY>
<!ELEMENT mujer EMPTY>
